.banner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 800px;
}
.banner__img {
  flex: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}
.banner__title-phone {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1440px) {
  .banner {
    height: 599px;
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .banner {
    gap: 16px;
    height: 400px;
  }
  .banner__title-phone {
    gap: 16px;
  }
}
