.header {
}
.header__container {
  max-width: 1715px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.header__language {
}
.language-button {
  width: 176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.language-button__main {
  display: flex;
  align-items: center;
  gap: 16px;
}
.language-button__flag {
  width: 24px;
  height: 24px;
  background: #0085ff;
  background: linear-gradient(
    180deg,
    rgba(0, 133, 255, 1) 50%,
    rgba(255, 199, 0, 1) 50%
  );
  border-radius: 50%;
}
.language-button__text {
}
.header__nav {
  flex: 1;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.nav__item {
  padding: 8px;
}
.nav__button {
  background-color: #dd2a0014;
  border-radius: 30px;
  padding: 8px;
}
.header__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #dd2a00ff;
}
.header__bottom-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__bottom-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  height: 48px;
}
.catalog-button {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: black;
  border-radius: 24px;
  height: 100%;
  padding: 0 14px;
  span {
    flex: 1;
    font-size: 14px;
    font-weight: 550;
    color: white;
    font-family: "Helvetica Neue Cyr", sans-serif;
    text-align: start;
  }
}
.catalog-button__icons {
  width: 24px;
  height: 24px;
  color: white;
}
.phone-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}
.phone-button__info {
  text-align: start;
  white-space: nowrap;
}
.phone-button__number {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.phone-button__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.phone-button__icons {
  width: 18px;
  height: 18px;
}
.header__bottom-search {
  flex: 1;
  position: relative;
  height: 48px;
}
.header__bottom-search-input {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 24px;
  padding-left: 16px;
  padding-right: 62px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__icons-search {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(50%, -50%);
  width: 24px;
  height: 24px;
}
.header__bottom-profile {
  display: flex;
  align-items: center;
}
.header__divider {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__profile-login {
  width: 104px;
  display: flex;
  align-items: center;
  color: white;
  span {
    padding-left: 8px;
    font-size: 14px;
    font-family: "Helvetica Neue Cyr", sans-serif;
    font-weight: 400;
  }
}
.header__profile-icons-user {
  width: 24px;
  height: 24px;
}
.header__divider span {
  display: inline-block;
  height: 24px;
  width: 1px;
  background-color: #ffffff3d;
}
.header__profile-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}
.profile__button {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__button-icon {
  width: 24px;
  height: 24px;
}
.header__bottom-actions {
  display: none;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
}
.actions__icon {
  width: 24px;
  height: 24px;
}
.header__top-catalog {
  display: none;
}
@media (max-width: 1024px) {
  .header__top {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }
  .header__bottom,
  .header__nav,
  .header__language {
    display: none;
  }
  .header__top-catalog {
    display: block;
  }
  .header__top-actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}
