.header {
  background-color: white;
}
.header__container {
  max-width: 107.1875rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header__language {
}
.language-button {
  width: 11rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.language-button__main {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.language-button__flag {
  width: 1.5rem;
  height: 1.5rem;
  background: #0085ff;
  background: linear-gradient(
    180deg,
    rgba(0, 133, 255, 1) 50%,
    rgba(255, 199, 0, 1) 50%
  );
  border-radius: 50%;
}
.language-button__text {
}
.header__nav {
  flex: 1;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

.nav__item {
  padding: 0.5rem;
}
.nav__button {
  background-color: #dd2a0014;
  border-radius: 1.875rem;
  padding: 0.5rem;
}
.header__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #dd2a00ff;

  position: sticky;
  top: 0;
  z-index: 1000;
}
.header__bottom-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header__bottom-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: 3rem;
}
.catalog-button {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
  border-radius: 1.5rem;
  height: 100%;
  padding: 0 0.875rem;
  span {
    flex: 1;
    font-size: 0.875rem;
    font-weight: 550;
    color: white;
    font-family: "Helvetica Neue Cyr", sans-serif;
    text-align: start;
  }
}
.catalog-button__icons {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}
.phone-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}
.phone-button__info {
  text-align: start;
  white-space: nowrap;
}
.phone-button__number {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}
.phone-button__description {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.phone-button__icons {
  width: 1.125rem;
  height: 1.125rem;
}
.header__bottom-search {
  flex: 1;
  position: relative;
  height: 3rem;
}
.header__bottom-search-input {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 3.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__icons-search {
  position: absolute;
  top: 50%;
  right: 1.875rem;
  transform: translate(50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
}
.header__bottom-profile {
  display: flex;
  align-items: center;
}
.header__divider {
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__profile-login {
  width: 6.5rem;
  display: flex;
  align-items: center;
  color: white;
  span {
    padding-left: 0.5rem;
    font-size: 0.875rem;
    font-family: "Helvetica Neue Cyr", sans-serif;
    font-weight: 400;
  }
}
.header__profile-icons-user {
  width: 1.5rem;
  height: 1.5rem;
}
.header__divider span {
  display: inline-block;
  height: 1.5rem;
  width: 0.0625rem;
  background-color: #ffffff3d;
}
.header__profile-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}
.profile__button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__button-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.header__bottom-actions {
  display: none;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 100%;
}
.actions__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.header__top-catalog,
.header__top-actions {
  display: none;
}
@media (max-width: 64rem) {
  .header__top {
    box-shadow: 0rem 0.125rem 0.625rem rgba(0, 0, 0, 0.15);
  }
  .header__bottom,
  .header__nav,
  .header__language {
    display: none;
  }
  .header__top-catalog,
  .header__top-actions {
    display: block;
  }
  .header__top-actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}
