* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="file"] {
  max-width: 100%;
}

button {
  cursor: pointer;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
h2 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

body {
  background-color: #f2f2f2;
}
.main__container {
  max-width: 1615px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 15px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.timer__prom {
  width: 178px;
  background-color: #dd2a00;
  border-radius: 16px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-family: "Robot Flex", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 32px;
}
.timer-icon {
  width: 24px;
  height: 24px;
}
.promo__section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.promo__title {
  display: flex;
  align-items: center;
  gap: 16px;
}
.promo__title-icon {
  display: none;
  width: 24px;
  height: 24px;
}
.promo__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-left: 17px;
}
.promo__item {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 18px;
}
.promo__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/list__symbol.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.discount {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1024px) {
  .promo__title-icon {
    display: block;
  }
  .main__container {
    padding: 32px 25px;
  }
}
@media (max-width: 768px) {
  .promo__title-icon {
    display: none;
  }
  .discount {
    h2 {
      font-size: 20px;
    }
  }
}
